<!-- главная страница -->
<diV class="teg">
    В ЧЕМ ПРЕИМУЩЕСТВА ОФИСОВ MADARA?
</diV>

<div class="text">
    
    <p >ОФИСНОЕ ПОМЕЩЕНИЕ, ПЛОЩАДЬ КОТОРОГО МОЖНО УВЕЛИЧИВАТЬ ПО МЕРЕ РАЗВИТИЯ БИЗНЕСА</p>
    <br><p >Madara — это самая крупная в мире сеть рабочих пространств и коворкингов.</p>
    <br><p >Мы предлагаем рабочие помещения с профессиональной и вдохновляющей атмосферой и сможем подобрать подходящий офис для компаний любого размера и с любым бюджетом.</p>
    <br><p >Рабочие пространства в городах, аэропортах, общественных зданиях, на сервисных станциях и железнодорожных вокзалах — наша сеть постоянно расширяется.</p>
    <p class="fig"><img src="https://assets.iwgplc.com/image/upload/w_580,c_fill,f_auto,q_auto/Regus/Website/why-choose-im-d2.jpg" width="370" height="460" alt="Фото"></p>
    <br>
    <p >МЫ УПРОЩАЕМ ВАМ РАБОТУ</p>
    <p >Больше никаких первичных затрат и капитальных инвестиций и никакой мороки с организацией ежедневной работы офиса: с нашей помощью вы избавитесь от бремени управления недвижимостью.</p>
    <br><p>Единый контракт, простая отчетность, персональный менеджер по работе с клиентами и круглосуточная служба поддержки клиентов, работающая семь дней в неделю.</p>
    <br><p>Расширяйте или уменьшайте рабочее пространство на гибких условиях в зависимости от текущих и будущих потребностей вашего бизнеса.</p>
    
</div>

<div class="t-center">
    РАБОЧИЕ ПРОСТРАНСТВА ОТ MADARA
</div>

<div class="conteiner">
    <a class="image"><img src="https://assets.iwgplc.com/image/upload/w_868,c_fill,f_auto,q_auto/Regus/Website/homepage-product-office-space.jpg"></a>
    <p id="text-left-1">ОФИСНОЕ <br>ПРОСТРАНСТВО</p>
    <p id="text-left-2">Сделайте рабочий день <br> приятнее и продуктивнее</p>
    <p id="text-left-3">Полностью меблированное, оборудованное всем необходимым рабочее помещение, площадь которого можно увеличить по мере развития бизнеса, — для одного человека или целой команды.</p>
    <label class="btn" [routerLink]="['/categories/4/products']" routerLinkActive="router-link-active" ><button appHover>ПЕРЕЙТИ</button></label>
</div>

<div class="conteiner">
    <a class="image1"><img src="https://assets.iwgplc.com/image/upload/w_868,c_fill,f_auto,q_auto/Regus/Website/homepage-product-co-working.jpg"></a>
    <p id="text-right-1">КОВОРКИНГ</p>
    <p id="text-right-2">Работа среди людей</p>
    <p id="text-right-3">Рабочее место в дружелюбной атмосфере коворкинга, которое можно забронировать заранее или получить в порядке очереди.</p>
    <label class="btn1" [routerLink]="['/categories/1/products']" routerLinkActive="router-link-active" ><button appHover>ПЕРЕЙТИ</button></label>
</div>

<div class="conteiner">
    <a class="image"><img src="https://assets.iwgplc.com/image/upload/w_868,c_fill,f_auto,q_auto/Regus/Website/homepage-product-meeting-rooms1.jpg"></a>
    <p id="text-left-4">ПЕРЕГОВОРНЫЕ <br>КОМНАТЫ</p>
    <p id="text-left-5">Профессиональная атмосфера для совместной работы</p>
    <p id="text-left-6">Для встреч и презентаций<br>
        Для тренингов, собеседований или мероприятий<br>
        Гибкие сроки аренды (от одного часа до целого рабочего дня и даже дольше)<br>
        Настраиваемые конфигурации помещений</p>
    <label class="btn" [routerLink]="['/categories/2/products']" routerLinkActive="router-link-active" ><button appHover>ПЕРЕЙТИ</button></label>
</div>

<div class="conteiner">
    <a class="image1"><img src="https://assets.iwgplc.com/image/upload/w_868,c_fill,f_auto,q_auto/Regus/Website/homepage-product-lounges.jpg"></a>
    <p id="text-right-1">БИЗНЕС-ГОСТИНАЯ</p>
    <p id="text-right-2">Работайте во время <br>путешествий и деловых<br> поездок</p>
    <p id="text-right-3">Неформальные пространства для встреч с Wi-Fi, принтером, сканером и копировальным аппаратом.</p>
    <label class="btn1" [routerLink]="['/categories/3/products']" routerLinkActive="router-link-active" ><button appHover>ПЕРЕЙТИ</button></label>
</div>

<div class="conteiner">
    <a class="image"><img src="https://assets.iwgplc.com/image/upload/w_868,c_fill,f_auto,q_auto/Regus/Website/homepage-product-membership1.jpg"></a>
    <p id="text-left-1">ПРЕИМУЩЕСТВА <br>ДЛЯ ЧЛЕНОВ <br>СООБЩЕСТВА</p>
    <p id="text-left-2">Работайте в любой точке мира</p>
    <p id="text-left-7">Участие в нашей программе позволит вам с большей выгодой пользоваться бизнес-гостиными, коворкинговыми пространствами и персональными офисами в любом центре Madara.</p>
    <p id="text-left-8">Вы сможете выбрать один из нескольких планов в соответствии со своими потребностями.</p>
</div>


