h2:hover {
    color: rgb(237, 116, 111);
}

.teg{
    font-size: 30px;
    font-weight: 600;
    padding-left: 250px;
    padding-top: 50px;
}

.text{
    padding-top: 50px;
    padding-bottom: 150px;
    width: 100%;
    font-weight: 500;
    text-align: center;

    column-count: 3;    
    column-gap: 70px; 
    
}

.t-center{
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
}
#text-left-1{
    font-size: 30px;
    text-align: center;
    width: 25%;
    margin-top: -420px;
}
#text-left-2{
    font-size: 20px;
    text-align: center;
    width: 25%;
}
#text-left-3{
    font-size: 15px;
    text-align: center;
    width: 25%;
    padding-left: 0px;
    padding-bottom: 150px;
}
#text-left-4{
    font-size: 30px;
    text-align: center;
    width: 25%;
    margin-top: -470px;
}
#text-left-5{
    font-size: 20px;
    text-align: center;
    width: 25%;
}
#text-left-6{
    font-size: 15px;
    text-align: center;
    width: 25%;
    padding-left: 0px;
    padding-bottom: 150px;
}
#text-left-7{
    font-size: 15px;
    text-align: center;
    width: 25%;
    padding-left: 0px;
    padding-bottom: 20px;
}
#text-left-8{
    font-size: 15px;
    text-align: center;
    width: 25%;
    padding-left: 0px;
    padding-bottom: 90px;
}
#text-right-1{
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-top: -400px;
    margin-left: 470px;
}
#text-right-2{
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-left: 470px;
}
#text-right-3{
    font-size: 15px;
    text-align: center;
    width: 20%;
    margin-left: 910px;
    padding-bottom: 50px;
}

.image{
   padding-left: 320px;
}

button{
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
}
.btn{
    margin-top: -250px;
    margin-left: 25px;
}
.btn1{
    margin-top: -400px;
    margin-left: 920px;
    padding-bottom: 180px;
}

.hovered{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .5s all;
    z-index: 2000;
}


