<div class="bg-img">
    <div class="container">
        <div class="topnav">
        </div>
    </div>
    <div class="text">
        КРУПНЫМ КОМПАНИЯМ БОЛЬШЕ НЕТ <br> НЕОБХОДИМОСТИ ИМЕТЬ МНОГО <br>ОФИСОВ
    </div>
</div>

<div class="t-1">
<hr>
<p>СОДЕРЖАНИЕ МНОГОЧИСЛЕННЫХ ОФИСОВ ―<br>
    НЕ САМОЕ ЛУЧШЕЕ РЕШЕНИЕ ДЛЯ БИЗНЕСА</p>
<hr>
</div>

<div class="t-2">
    <p>Это не эффективно, а также ограничивает развитие бизнеса.</p>
</div>

<div class="conteiner">
    <div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <i class="material-icons">euro_symbol</i>  
    <p id="ic1">Содержание офиса дорого обходится</p>
    <p id="ic">Компаниям приходится вкладываться в недвижимость, нести высокие затраты на подготовку офиса к работе и его содержание</p>
    </div>
    
    <div>
    <i class="material-icons">trending_down</i>  
    <p id="ic1">Снижается продуктивность работы</p>
    <p id="ic2">Сотрудники тратят время на поездки в офис и трудятся в атмосфере, не способствующей высокой продуктивности</p>
    </div>
   
    <div>
    <i class="material-icons">error</i>  
    <p id="ic1">Многочисленными офисами трудно управлять</p>
    <p id="ic">Компании вынуждены использовать ценные ресурсы для управления своими офисами</p>
    </div>
</div>



<div class="t2">
    Свяжитесь с нашими консультантами, которые помогут подобрать вариант,<br> подходящий именно Вам
</div>
<p id="id">ПОЗВОНИТЕ НАМ: <a id="id2">8 (771) 795 66 88</a></p>

<div class="bg-img1">
    <div class="container">
        <div class="topnav">
        </div>
    </div>
</div>

<div class="t-1">
<hr>
<p>КАК КРУПНЫМ КОМПАНИЯМ УДАЕТСЯ ПОВЫСИТЬ<br> ЭФФЕКТИВНОСТЬ РАБОТЫ, ЗАКРЫВАЯ СВОИ ОФИСЫ?</p>
<hr>
</div>

<div class="conteiner1">
    <div>
    <i class="material-icons">account_balance</i>  
    <p id="ic">Вместо небольших офисов они используют офис, площадь которого можно увеличить или сократить по мере изменения потребностей</p>
    </div>
    
    <div>
    <i class="material-icons">pin_drop</i>  
    <p id="ic">Они передают управление офисами сторонней организации, высвобождая ресурсы для решения более важных задач</p>
    </div>
   
    <div>
    <i class="material-icons">public</i>  
    <p id="ic">Доступ к коворкингу помогает их сотрудникам работать продуктивно, где бы они не находились</p>
    </div>

    <div>
        <i class="material-icons">people</i>  
        <p id="ic">Они арендуют переговорные комнаты на почасовой основе и платят только за то, чем пользуются</p>
    </div>
</div>

<div class="bg-img2">
    <div class="container">
        <div class="topnav">
        </div>
    </div>
</div>

<div class="t-1">
<hr>
<p>КАК МЫ МОЖЕМ ПОМОЧЬ ВАШЕМУ БИЗНЕСУ</p>
<hr>
</div>
<div class="t-2">
    <p>Мы помогли тысячам крупных национальных и международных компаний.</p>
</div>
<div class="t-2">
    <p>Мы можем помочь Вам...</p>
</div>
<div class="conteiner">
    <div>
    <i class="material-icons">access_time</i>  
    <p id="ic3">Снизить административную нагрузку</p>
    <p id="ic2">Один контракт, простая отчетность, персональный менеджер по работе с клиентами и круглосуточная служба поддержки клиентов 7 дней в неделю</p>
    </div>
    
    <div>
    <i class="material-icons">sentiment_very_satisfied</i>  
    <p id="ic1">Продуктивно работать</p>
    <p id="ic2">Предложив сотрудникам тратить меньше времени на дорогу и работать во вдохновляющей обстановке, Вы сможете привлечь и мотивировать к продуктивной работе самых лучших из них</p>
    </div>
   
    <div>
    <i class="material-icons">content_cut</i>  
    <p id="ic1">Снизить затраты</p>
    <p id="ic2">Платите только за ту площадь, которой пользуетесь, и получите наши скидки</p>
    </div>
</div>

<div class="t-1">
    <hr>
    <p>ПОЛУЧИТЬ НАШИ УСЛУГИ ОЧЕНЬ ПРОСТО</p>
    <hr>
</div>
<div class="t-2">
    <p>Вы можете организовать работу своих сотрудников так, как им необходимо</p>
</div>

<div class="conteiner">
    <div class="cont-1">
        <div class="bg-img4">
            <div class="text1">
                СОЗДАТЬ АККАУНТ
            </div>
       </div>
       <div class="bg5">
            <div class="text2">
                Ваши сотрудники могут загрузить наше приложение и начать пользоваться бизнес-гостиными, коворкингом, переговорными комнатами и офисами уже сегодня
            </div>
        </div>
    </div>
    

    <div class="bg-img4">
        <div class="text1">
            ПОЛУЧИТЕ ДОСТУП К НАШИМ 3000 БИЗНЕС-ЦЕНТРАМ
        </div>
   </div>
   <div class="bg5">
        <div class="text2">
            Они могут пользоваться офисами для одного человека или целой команды так, как необходимо именно им
        </div>
    </div>

    <div class="bg-img4">
        <div class="text1">
            ВЫБРАТЬ ВАРИАНТ, КОТОРЫЙ ПОДХОДИТ ИМЕННО ВАМ
        </div>
   </div>
   <div class="bg5">
        <div class="text2">
            Выбирайте бизнес-центр и офис, который подходит именно Вам: для нескольких человек или большой команды, срок аренды: от одного месяца до нескольких лет
        </div>
    </div>
   
</div>

<div class="t2">
    Свяжитесь с нашими консультантами, которые помогут подобрать вариант,<br> подходящий именно Вам
</div>
<p id="id">ПОЗВОНИТЕ НАМ: <a id="id2">8 (771) 795 66 88</a></p>