<div class="bg-img">
    <div class="text">
        <hr>
        900 ГОРОДОВ МИРА
        <hr>
        <div class="t-2">
            <p>Искать по 3000 бизнес-центров, 900 городам, 120 странам</p>
        </div>
    </div>
</div>

<div>
    <div class="text1">
        О КОМПАНИИ MADARA
    </div>
    
    <div class="container">
    <p>Компания Madara — <a id="tols">самый крупный в мире поставщик решений по гибкой организации рабочего пространства.</a> В число наших клиентов входят успешные предприниматели, частные лица <br>и корпорации с многомиллиардным долларовым оборотом.</p>
    <p>Наши частные и корпоративные клиенты получают возможность <a id="tols">работать так, как им удобно, в любой точке мира и в любое время.</a></p>
    <p>Наша сеть насчитывает уже почти <a id="tols">3000 бизнес-центров. Количество охваченных нами городов — 900, стран — 120.</a></p>
    <p>Компания Madara была основана в Казахстане в 2020 году. Ее главный офис находится в городе Алматы, Казахстан.</p>
</div>
</div>



<div class="t-1">
<hr>
<p>СВЯЖИТЕСЬ С НАМИ СЕГОДНЯ</p>
<hr>
</div>

<div class="t-2">
    <p>Свяжитесь с нами, и мы поможем Вам найти идеальное рабочее помещение.</p>
    <p id="id">ПОГОВОРИТЕ С НАШЕЙ КОМАНДОЙ <a id="id2">8 (771) 795 66 88</a></p>
</div>
